* {
  font-family: 'Open Sans', sans-serif;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after{
  clear: both;
}
.main-container{
  width: 1280px;
  margin: 0 auto;
}
.header{
  height: 95px;
  background-color: #473A2D;
}
.header .logo{
  height: 100%;
  width: 200px;
  background-color: orange;
  margin-left: 90px;
  float: left;
}
.header .logo .logo-image{
  margin-top: 30px;
}
.header .navigation-container{
  width: 600px;
  background-color: yellow;
  margin-right: 30px;
  float: right;
  padding: 19px 0;
}
.header .navigation-container .menu{
  height: 56px;
  width: 499px;
  background-color: green;
  float: left;
  border-right: 1px solid white;
}
.header .navigation-container .menu ul{
  list-style-type: none;
}
.header .navigation-container .menu ul li{
  float: left;
  margin-top: -8px;
}
.header .navigation-container .menu ul li a{
 display: block;
 padding: 10px;
 color: black;
 text-decoration: none;
}
.header .navigation-container .menu ul li a:hover{
 background-color: red;
}
.header .navigation-container .languages{
  height: 56px;
  width: 100px;
  background-color: gray;
  float: right;
}
.header .navigation-container .languages ul{
  list-style-type: none;
}
.header .navigation-container .languages ul li{
  float: left;
  margin-top: -8px;
}
.header .navigation-container .languages .ru{
  margin-left: -20px;
}
.header .navigation-container .languages ul li a{
  display: block;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
  padding-left: 5px;
}
.header .navigation-container .languages ul li a:hover{
  background-color: red;
}
.slider{
  height: 543px;
  background-color: red;
}
.slider-image{
  width: 100%;
}
.slider{
  position: relative;
}
.slider-inner-container{
  position: absolute;
  top: 230px;
  left: 166px;
  margin-bottom: 20px;
}
.slider-spans-container{
  position: absolute;
  bottom: 0;
  left: 600px;
  margin-bottom: 20px;
}
span.slider-link{
  border: 6px solid green;
  border-radius: 50%;
  background-color: green;
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
span.slider-link:hover{
  background-color: grey;
  cursor: pointer;
}
.banner-1{
  background-color: orange;
  width: 270px;
  height: 76px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 48px;
}

.banner-2 p{
  margin-top: 0px;
}

.banner-1 p{
  line-height: 76px;
}
.banner-2 {
  background-color: yellow;
  width: 340px;
  height: 70px;
  text-align: left;
  padding-left: 20px;
  padding-top: 12px;
  font-size: 20px;
}
.white-special-background{
  background-color: grey;
  padding: 10px 50px;
}
.brown-special-background{
  background-image: url("img/brown_bg.png");
}
.sub-container-header-block{
  border-bottom: 1px dashed #C7A457;
  height: 60px;
  margin-bottom: 40px;
  margin:0 54px;
}
.sub-container-header-block h1{
  text-align: center;
  text-transform: uppercase;
  color: #C7A457;
  font-weight: lighter;
}
.service-block{
  width: 372px;
  float: left;
  background-color: green;
}
.service-block > div{
  float: left;
  height: inherit;
  background-color: yellow;
}
.service-block-icon-block{
  width: 50px;
}
.service-block-content-block{
  width: 312px;
  margin-left: 10px;
}
.service-content-devider{
  border-bottom: 1px solid black;
  width: 50px;
}
.service-block-content-block h2{
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  margin-top: 0;
}
.center-service-block{
  margin: 0 32px;
}
.services{
  height: 700px;
  background-color: orange
}
.prices{
  background-color: orange;
}
.float-left{
  float: left;
}
.prices .float-left{
  width: 400px;
  height: 400px;
  background-color: yellow;
}
.prices-block1{
  margin-right: 20px;
}
.prices-block2{
  margin-left: 20px;
}
.prices table{
  border-collapse: collapse;
  min-width: 100%;
}
.prices table th{
  border-bottom: 1px solid black;
}
.prices table tr.grey-bg{
  background-color: grey;
}
.table-row-title, .table-row-first{
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.prices table td.price{
  text-align: center;
}
.about-us{
  background-image: url(img/brown_bg.png);
  background-repeat: repeat;
}
.about-us-person1, .about-us-person2{
  width: 500px;
  height: 700px;
  background-color: yellow;
}
.about-us-person1{
  margin-right: 40px;
}
.about-us .personal-info-container{
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: brown;
  text-align: center;
}
.about-us .personal-info-container img{
  border: 5px solid #C7A457;
  border-radius: 50%;
}
.about-us .personal-info-container h1{
  font-size: 50px;
  font-weight: lighter;
  color: #C7A457;
  line-height: 10px;
}
.about-us .tel, .about-us .email{
  color: #C7A457;
}
.personal-info-devider{
  border-bottom: 1px solid #C7A457;
  margin-bottom: 10px;
}
.certificates-container{
  background-color: black;
}
.one-certificate{
  background-color: brown;
  width: 210px;
  height: 60px;
}
.about-us-person2{
  margin-left: 60px;
}
.about-us-text-block p{
color: white;
}
.about-us-sub-container{
  margin: 60px;
}
.clients{
  height: 800px;
  /*background-color: brown;*/
}
.logo-container{
  /*background-color: orange;*/
  /*margin: 0 10px;*/
  text-align: center;
}
.first-line{
  /*background-color: yellow;*/
  height: 100px;
  padding-left: 50px;
  padding-top: 25px;
}

.lrzm{
  background-image: url(img/LRZM_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 250px;
  margin-top: 10px;
}
.lrzm:hover{
  background-image: url(img/LRZM_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.lvm{
  background-image: url(img/LVM_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-left: 20px;
}
.lvm:hover{
  background-image: url(img/LVM_black.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.gibson{
  background-image: url(img/Gibson_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
}
.gibson:hover{
  background-image: url(img/Gibson_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.busbuilder{
  background-image: url(img/busbuilder_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-left: 60px;
}
.busbuilder:hover{
  background-image: url(img/busbuilder_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.bsforestry{
  background-image: url(img/bsforestry_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-top: 20px;
  margin-left: 60px;
}
.bsforestry:hover{
  background-image: url(img/BSForestry_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.second-line{
  /*background-color: orange;*/
  height: 100px;
  padding-left: 50px;
  padding-top: 25px;
}
.statoil{
  background-image: url(img/statoil_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 300px;
  margin-top: 10px;
}
.statoil:hover{
  background-image: url(img/statoil_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.casamona{
  background-image: url(img/casamona_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-left: 40px;
}
.casamona:hover{
  background-image: url(img/casamona_black.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.blueroots{
  background-image: url(img/blueroots_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
}
.blueroots:hover{
  background-image: url(img/blueroots_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.lvc{
  background-image: url(img/lvc_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-left: 50px;
}
.lvc:hover{
  background-image: url(img/lvc_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.latvenergo{
  background-image: url(img/latvenergo_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
}
.latvenergo:hover{
  background-image: url(img/latvenergo_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.third-line{
  background-color: orange;
  height: 130px;
  padding-left: 50px;
  padding-top: 25px;
}
.filterline{
  background-image: url(img/filterline_black.png);
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin-top: 10px;
}
.filterline:hover{
  background-image: url(img/filterline_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.lmt{
  background-image: url(img/lmt_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 160px;
  margin-left: 40px;
  margin-top: 30px;
}
.lmt:hover{
  background-image: url(img/lmt_black.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.vbo{
  background-image: url(img/ventspilsbrivosta_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 150px;
  margin-top: 10px;
  margin-left: 20px;
}
.vbo:hover{
  background-image: url(img/ventspilsbrivosta_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.lvc{
  background-image: url(img/lvc_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-left: 50px;
}
.lvc:hover{
  background-image: url(img/lvc_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.latvenergo{
  background-image: url(img/latvenergo_black.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
}
.latvenergo:hover{
  background-image: url(img/latvenergo_colour.png);
  cursor: pointer;
  background-repeat: no-repeat;
  /*padding-left: 40px;*/
}
.contacts{
  background-color: #C7A457;
}
.contacts-map{
  height: 180px;
  width: 200px;
  margin: 0 auto;
  border: 5px solid #C7A457;
}
.google-map{
  height: 100%;
  width: 100%;
}
.contacts-map-container{
  width: 400px;
  height: 200px;
  background-color: red;
}
.contacts-info-container{
  width: 200px;
  height: 200px;
  background-color: yellow;
}
.contacts-form-container{
  width: 400px;
  height: 200px;
  background-color: green;
}
.contacts-form-container form input, form .text-field{
  background-color: #C7A457;
  border: none;
}
::-webkit-input-placeholder{
  color: black;
}
.firstname-field, .email-field{
  width: 170px;
  height: 40px;
  padding-left: 10px;
}
.firstname-field{
  margin-right: 36px;
}
.text-field{
  margin-top: 30px;
  height: 100px;
  width: 100%;
  padding-left: 10px;
  resize: none;
  box-sizing: border-box;
}
